/* Custom Properties */
:root{
    --co1: #006d77;
    --co2: #83c5be;
    --co3: #edf6f9;
    --co4: #ffddd2;
    --co5: #e29578;
    --fuente:'Raleway', sans-serif;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuente);
    background-color: var(--co3);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem 0 ;
    color: var(--co5);
}
header a{
    text-align: left;
}
h1, h2{
    margin: 0;
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) {
    header{
        font-size: 2rem;
    }
    .container{
        display: flex;
        justify-content: center;
        background-color: var(--co3);
    }
    .sec_1{
        flex-basis: 30%;
    }
    .sec_2{
        flex-basis: 60%;
    }
}


.box_1{
    background-color: var(--co2);
    padding: 3rem 1rem;
}


.box_2{
    background-color: var(--co1);
    padding: 2rem;
}
.box_2 p span{
    font-size: 2.2rem
}

.box_2 p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--co5);
    font-weight: 400;
    margin: 0;
}

/* Formulario */
label{
    font-size: 1.4rem;
    font-weight: 300;
}
input{
    height: 3rem;
    padding-left: 1rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid var(--co2);
}

input[type="submit"] {
    background-color: var(--co5);
    color: white;
    border: none;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .campo{
        margin: 0 auto;
        width:90%;
    }

    input[type="submit"] {
        width: 10rem;
        cursor: pointer;
    }
    input:hover[type="submit"] {
        background-color: var(--co4);
        font-weight: bold;
        color: var(--co5);
    }
}

.enviar{
    display: flex;
    justify-content: flex-end;
}

/* Box 3 */
.box_3{
    background-color: var(--co3);
    padding: 3rem 1rem;
}
@media (min-width: 768px) {
    .box_3{
        background-color: var(--co3);
        padding: 0rem 1rem;
        width: 90%;
        margin: 0 auto;
    }
}

.box_3 h2{
   font-size: 2rem;
   color: var(--co5);
}

.box_3 input{
   margin: 2rem 0;
}
.box_3 p{
   text-align: center;
   font-size: 1.5rem;
   color: var(--co5);
}
.contenedor-tabla{
    overflow: scroll;
}

.listado-contactos{
   width: 100%;
   border-collapse: collapse;
}

.listado-contactos thead {
    background-color: var(--co5);
    color: white;
    padding: 1rem;
}
.listado-contactos thead th {
    padding: 1rem 0;
}
.listado-contactos tbody td {
    padding: 1rem 0;
}
.listado-contactos tbody td:nth-child(4){
    text-align: center;
}
.listado-contactos button{
    background-color: transparent!important;
    border:none;
}

.btn{
    font-size: 1.5rem;
    text-decoration: none;
}

.btn-editar {
    color: var(--co1);
}

.btn-borrar {
    color: var(--co5);
}
.btn-volver{
    background-color: var(--co5);
    padding: 1rem;
    color: var(--co1);
}
/* editar php */

.sec_volver{
    max-width: 35%;
    margin: 0 auto;

}

/* Notificaciones */
.notificacion{
   position: fixed;
   top: 2rem;
   right: 2rem;
   padding: 1rem 3rem;
   opacity: 0;
   transition: opacity .5s ease;
}

.visible{
   opacity: 1;
}

.correcto {
   background-color: var(--co2);
   color: var(--co1);
   border: 1px solid var(--co1);
   border-radius: 10px;
}

.error {
   background-color: var(--co4);
   color: var(--co5);
   border: 1px solid var(--co5);
   border-radius: 10px;
}
